[flake8]
# Максимальная длина строки (PEP 8 рекомендует 79, но часто используют 120)
max-line-length = 120

# Максимальная цикломатическая сложность функции (обычно от 10 до 12)
max-complexity = 10

# Игнорируемые ошибки или предупреждения (например, пропуск docstring или лишние пробелы)
ignore = D100, E203, W503

# Папки и файлы, которые нужно игнорировать при проверке
exclude =
    .git,
    __pycache__,
    env,
    venv,
    build,
    dist

# Показывать ли контекст (код) в месте ошибки
show-source = True

# Увеличить детализацию вывода (значения от 1 до 3)
statistics = True